.container {
  min-height: 100vh;
  background: linear-gradient(165deg, rgba(248, 224, 233, 1) 0%, rgba(203, 207, 211, 1) 50%, rgba(248, 224, 233, 1) 100%);
}

.sign-in-form {
  background-color: white;
  box-shadow: 0 0 0 1px black;
  width: 500px;
}

.p-fluid .p-button {
  width: 50%;
}

.form-control {
  margin: 50px;
}
