<div class="container p-grid p-jc-center p-ai-center">
  <div class="p-fluid grid p-col-2 sign-in-form p-p-4">
    <span class="p-text-bold p-my-2 p-field p-col-12">{{'connexion.labels.connect' | translate}}</span>
    <div class="p-my-5 p-field p-col-12">
      <span class="p-float-label">
        <input id="email" type="email" pInputText>
        <label for="email">Email</label>
      </span>
    </div>
    <div class="p-my-5 p-field p-col-12">
      <span class="p-float-label">
        <input type="password" id="password" pPassword/>
        <label for="password">Password</label>
      </span>
    </div>
    <span class="p-my-4 p-field p-col-12">{{'connexion.labels.noAccount' |translate}} <a
      href="#">{{'connexion.labels.noAccountCTA' |translate}} </a> </span>
    <div class="p-d-flex p-jc-end p-my-4 p-field p-col-12">
      <button  pButton pRipple type="button"
            [label]="'connexion.labels.signIn' | translate"></button>
    </div>
  </div>
</div>
