<div class="p-d-flex p-flex-row p-m-2" (click)="selectChatRoom()">
  <div class="p-d-flex p-jc-center p-col-2">
    <img alt="Avatar" src="https://m.media-amazon.com/images/I/31VjU29FP+L.png">
  </div>
  <div class="p-col-10 p-d-flex p-flex-column">
    <div class="p-d-flex p-flex-row">
      <span class="p-col-11">{{room.name}}</span>
      <em class="p-col-1 pi pi-heart" (click)="addRemoveFromFavorites(room.id)"></em>
    </div>
    <div class="p-ml-auto">
      {{ room.lastMessageTime | date :'d/M/yy, h:mm a'}}
    </div>

  </div>
</div>
