<h1 class="p-m-5">Profile</h1>
<div class="p-grid">
  <div class="p-col-2 p-px-2">
    <app-stat-image></app-stat-image>
  </div>
  <div class="p-col-8">
    <div class="p-d-flex flex-gap p-mb-2 title-text-size">
      <div>
        {{ 'profile.email.label' | translate }}
      </div>
      <div>
        test@gmail.com
      </div>
      <em (click)="editEmail()" class="pi pi-file-edit"></em>
    </div>
    <div class="p-d-flex p-flex-column title-text-size">
      <div class="p-d-flex p-ai-center">
        <div>
          {{ 'profile.theme.label' | translate }}
        </div>
        <div class="p-col-8">
          <p-selectButton (ngModelChange)="handleSelectedTheme($event)" [ngModel]="selectedTheme"
                          [options]="themes"></p-selectButton>
        </div>
      </div>
    </div>
    <div class="p-d-flex p-flex-column title-text-size">
      <div class="p-d-flex p-ai-center">
        <div>
          {{ 'profile.language.label' | translate }}
        </div>
        <div class="p-col-8">
          <p-selectButton (ngModelChange)="handleSelectedLanguage($event)" [ngModel]="selectedLanguage"
                          [options]="languages"></p-selectButton>
        </div>
      </div>
    </div>
    <button (click)="changePassword()" [label]="('profile.password.edit' | translate)" class="p-button-raised" pButton pRipple type="button"></button>
  </div>
</div>

