<p-dialog (visibleChange)="visibleChange.emit($event)"
          [baseZIndex]="10000"
          [header]="'profile.password.header' | translate "
          [style]="{width: '50vw'}"
          [visible]="_visible"

>
  <form [formGroup]="form">
    <div class="p-fluid p-p-4">
      <div class="p-my-5 p-field p-col-12">
      <span class="p-float-label">
        <input [class.p-invalid]="form.controls.oldPassword.invalid && form.controls.oldPassword.touched"
               aria-describedby="old-password-help"
               formControlName="oldPassword"
               id="oldPassword"
               pInputText
               type="password"
        >
        <label for="oldPassword">{{ 'profile.password.oldPasswordLabel' | translate}}</label>
        <small
          *ngIf="form.controls.oldPassword.invalid && form.controls.oldPassword.touched"
          class="p-invalid"
          id="old-password-help">
            <span *ngIf="form.controls.oldPassword.errors?.required">
          {{"profile.password.error" | translate}}
            </span>
          </small>
      </span>
      </div>
      <div class="p-my-5 p-field p-col-12">
      <span class="p-float-label">
        <input [class.p-invalid]="form.controls.newPassword.invalid && form.controls.newPassword.touched"
               aria-describedby="new-password-help"
               formControlName="newPassword"
               id="newPassword"
               pInputText
               type="password"
        >
        <label for="newPassword">{{ 'profile.password.newPasswordLabel' | translate}}</label>
        <small
          *ngIf="form.controls.newPassword.invalid && form.controls.newPassword.touched"
          class="p-invalid"
          id="new-password-help">
            <span *ngIf="form.controls.newPassword.errors?.required">
          {{"profile.password.error" | translate}}
            </span>
          </small>
      </span>
      </div>
      <div class="p-my-5 p-field p-col-12">
      <span class="p-float-label">
        <input [class.p-invalid]="form.controls.newPasswordConfirmation.invalid && form.controls.newPasswordConfirmation.touched"
               aria-describedby="new-password-confirmation-help"
               formControlName="newPasswordConfirmation"
               id="newPasswordConfirmation"
               pInputText
               type="password"
        >
        <label for="newPassword">{{ 'profile.password.newPasswordConfirmationLabel' | translate}}</label>
        <small
          *ngIf="
          form.controls.newPasswordConfirmation.touched &&
           (form.controls.newPasswordConfirmation.invalid || form.errors?.mismatch)
"
          class="p-invalid"
          id="new-password-confirmation-help">
            <span *ngIf="form.controls.newPasswordConfirmation.errors?.required">
          {{"profile.password.error" | translate}}
            </span>
          <span *ngIf="form.errors?.mismatch">
          {{"profile.password.mismatch" | translate}}
            </span>
          </small>
      </span>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      (click)="(!(form.invalid || !form.dirty)) && submitPassword.emit(form.value)"
      [disabled]="form.invalid || !form.dirty"
      [label]="'profile.email.save' | translate"
      icon="pi pi-check"
      styleClass="p-button-text"></p-button>
    <p-button
      (click)="cancelEditPassword()"
      [label]="'profile.email.cancel' | translate"
      icon="pi pi-times"
      styleClass="p-button-text p-button-danger"></p-button>
  </ng-template>
</p-dialog>
